
/* Mobile Devices */
@media only screen and (max-width:480px){
    img {
        -webkit-flex: 2 1 500px;
        flex: 2 1 500px;
        -webkit-flex-flow:row wrap;
        flex-flow:row wrap;
     }


/* Computer Devices */
@media only screen and (min-width:481px){

}